<section class="hero">
  <div class="container">
    <h2 class="hero__title">Contact our team to&nbsp;find out more</h2>
    <div class="hero__content">
      <div class="hero__location">
        <img
          src="./assets/icons/map-icon.svg"
          alt="Map"
          width="986"
          height="544"
          loading="lazy"
        />
        <img
          class="hero__pin"
          data-title="Yogja, INA 100 Smith StreetCollingwood VIC 3066&nbsp;AU"
          src="./assets/icons/pin-icon.svg"
          alt="Pin"
          width="54"
          height="54"
          loading="lazy"
        />
        <ul class="hero__contacts">
          <li class="hero__contacts-item">
            <h3 class="hero__contacts-item-title">Support</h3>
            <p class="hero__contacts-item-desc">
              Our friendly team is&nbsp;here to&nbsp;help.
            </p>
            <a class="hero__contacts-item-link" href="mailto:support@sans.com"
              >support@sans.com</a
            >
          </li>
          <li class="hero__contacts-item">
            <h3 class="hero__contacts-item-title">Sales</h3>
            <p class="hero__contacts-item-desc">
              Questions or&nbsp;queries? Get in&nbsp;touch!
            </p>
            <a class="hero__contacts-item-link" href="mailto:sales@sans.com"
              >sales@sans.com</a
            >
          </li>
          <li class="hero__contacts-item">
            <h3 class="hero__contacts-item-title">Phone</h3>
            <p class="hero__contacts-item-desc">
              Mon-Fri from 8am to&nbsp;5pm.
            </p>
            <a class="hero__contacts-item-link" href="tel:+14353457655"
              >+1 (435) 345-7655</a
            >
          </li>
        </ul>
      </div>
      <div class="hero__tooltip" id="tooltip">
        <span class="hero__tooltip-text">Yogja, INA 100 Smith StreetCollingwood VIC 3066&nbsp;AU</span>
      </div>
    </div>
  </div>
</section>
