<section class="team">
  <div class="container team__container">
    <h2 class="team__title">
      Meet our team of&nbsp;creators, designers, and world-class problem solvers
    </h2>
    <p class="team__desc">
      To&nbsp;become the company that customers want, it&nbsp;takes a&nbsp;group
      of&nbsp;passionate people. Get to&nbsp;know the people who lead
    </p>
    <div class="swiper team__slider">
      <div class="team__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33325L25.6667 8.99992L19.0001 15.6666M9.00008 15.6666L2.33341 8.99992L9.00008 2.33325"
            stroke="#1D1E25"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Arlyne Stefano</div>
              <div class="team__article-post">Founder & CEO</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img-2.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Katy Cristy</div>
              <div class="team__article-post">Chief Technology Officer</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img-3.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Roger Dzawin</div>
              <div class="team__article-post">Chief Technology Officer</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Arlyne Stefano</div>
              <div class="team__article-post">Founder & CEO</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img-2.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Katy Cristy</div>
              <div class="team__article-post">Chief Technology Officer</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide team__article">
          <img
            class="team__article-img"
            src="./assets/images/about-team-img-3.jpg"
            alt="Young man"
            width="379"
            height="434"
            loading="lazy"
          />
          <div class="team__article-head">
            <div class="team__article-block">
              <div class="team__article-name">Roger Dzawin</div>
              <div class="team__article-post">Chief Technology Officer</div>
            </div>
            <ul class="team__article-list">
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-twitter-icon.svg"
                  alt="Twitter logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-linkedin-icon.svg"
                  alt="LinkedIn logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
              <li class="team__article-item">
                <img
                  src="./assets/icons/about/team-instagram-icon.svg"
                  alt="Instagram logo"
                  width="32"
                  height="32"
                  loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="team__bottom">
      <h2 class="team__bottom-title">
        Join our team, The one with the master touch
      </h2>
      <div class="team__bottom-desc">
        <p class="team__bottom-text">
          We&nbsp;believe it&nbsp;takes great people to&nbsp;make a&nbsp;great
          product. That&rsquo;s why we&nbsp;hire not only the perfect professional
          fits, but people who embody our company values.
        </p>
        <a href="#" class="team__bottom-link">See Open Position -&gt;</a>
      </div>
    </div>
  </div>
</section>
