<section class="articles">
  <div class="container">
    <div class="articles__content">
      <div class="articles__info">
        <h2 class="articles__title">Articles</h2>
        <p class="articles__desc">
          Complex tech decoded by&nbsp;engineers, business trends analyzed
          by&nbsp;experts.
        </p>
      </div>
      <div class="articles__btns">
        <button class="articles__btn articles__btn--prev">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="articles__btn articles__btn--next">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper articles__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/articles-img-1.jpg"
            alt="Man at work"
            width="435"
            height="669"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            List of&nbsp;UX&nbsp;Designer Portfolio&nbsp;/ Case Studies where
            you can make money
          </h3>
          <p class="articles__article-desc">
            Here are some portfolios&nbsp;/ Case Studies from UX&nbsp;Designers
            that you can use as&nbsp;a&nbsp;reference for creating
            a&nbsp;portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/blog-home-img-3.jpg"
            alt="Man at work"
            width="406"
            height="329"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            Skyrocketing in&nbsp;The Designing Career, Why Not?
          </h3>
          <p class="articles__article-desc">
            Ever thought of&nbsp;jumping into the world of&nbsp;design
            as&nbsp;a&nbsp;career? If&nbsp;not, you may want to&nbsp;look
            at&nbsp;what the word &lsquo;design&rsquo; actually means. Design
            is&nbsp;a&nbsp;method of&nbsp;designing aesthetic actions that are
            carried out.
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/articles-img-3.jpg"
            alt="Man at work"
            width="476"
            height="695"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            Elements that may be&nbsp;missed when designing the&nbsp;UI
          </h3>
          <p class="articles__article-desc">
            This is&nbsp;an&nbsp;article that talks about the little elements
            that are often overlooked when designing&nbsp;UI.
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/articles-img-1.jpg"
            alt="Man at work"
            width="435"
            height="669"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            List of&nbsp;UX&nbsp;Designer Portfolio&nbsp;/ Case Studies where
            you can make money
          </h3>
          <p class="articles__article-desc">
            Here are some portfolios&nbsp;/ Case Studies from UX&nbsp;Designers
            that you can use as&nbsp;a&nbsp;reference for creating
            a&nbsp;portfolio. Two interesting things from their portfolio are:
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/blog-home-img-3.jpg"
            alt="Man at work"
            width="406"
            height="329"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            Skyrocketing in&nbsp;The Designing Career, Why Not?
          </h3>
          <p class="articles__article-desc">
            Ever thought of&nbsp;jumping into the world of&nbsp;design
            as&nbsp;a&nbsp;career? If&nbsp;not, you may want to&nbsp;look
            at&nbsp;what the word &lsquo;design&rsquo; actually means. Design
            is&nbsp;a&nbsp;method of&nbsp;designing aesthetic actions that are
            carried out.
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
        <div class="swiper-slide articles__article">
          <img
            class="articles__article-img"
            src="./assets/images/articles-img-3.jpg"
            alt="Man at work"
            width="476"
            height="695"
            loading="lazy"
          />
          <h3 class="articles__article-title">
            Elements that may be&nbsp;missed when designing the&nbsp;UI
          </h3>
          <p class="articles__article-desc">
            This is&nbsp;an&nbsp;article that talks about the little elements
            that are often overlooked when designing&nbsp;UI.
          </p>
          <button class="articles__article-btn button-form">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
