<section class="hero">
  <div class="hero__block hero-decor">
    <div class="container hero__container">
      <h1 class="hero__title">Activity &amp;&nbsp;Updates</h1>
      <p class="hero__desc text-p-desc">
        Our biggest challenge is&nbsp;making sure we&rsquo;re always designing and
        building products that will help you run your business better.
      </p>
      <div class="swiper hero__slider">
        <div class="hero__slider-btns">
          <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337" stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/blog-home-img.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Practice making User Flow</h3>
            <p class="hero__article-desc">In&nbsp;this article, we&rsquo;ll cover how to&nbsp;create user flows</p>
          </div>
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/about-home-img-3.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Overview of&nbsp;the Design Principles</h3>
            <p class="hero__article-desc">What are Design Principles?... To&nbsp;understand design principles, we&nbsp;first discuss the principles.</p>
          </div>
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/blog-home-img-3.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Using Grid in&nbsp;website design</h3>
            <p class="hero__article-desc">Andi: &laquo;What&rsquo;s the grid like?&raquo; Toni: &laquo;Like below...&raquo;</p>
          </div>
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/blog-home-img.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Practice making User Flow</h3>
            <p class="hero__article-desc">In&nbsp;this article, we&rsquo;ll cover how to&nbsp;create user flows</p>
          </div>
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/about-home-img-3.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Overview of&nbsp;the Design Principles</h3>
            <p class="hero__article-desc">What are Design Principles?... To&nbsp;understand design principles, we&nbsp;first discuss the principles.</p>
          </div>
          <div class="swiper-slide hero__article">
            <img class="hero__article-img" src="./assets/images/blog-home-img-3.jpg" alt="Woman typing on laptop" width="515" height="428" loading="lazy">
            <div class="hero__article-head">
              <div class="hero__article-date">
                Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
              </div>
              <address class="hero__article-autor">
                by : Albert Sans
              </address>
            </div>
            <h3 class="hero__article-title">Using Grid in&nbsp;website design</h3>
            <p class="hero__article-desc">Andi: &laquo;What&rsquo;s the grid like?&raquo; Toni: &laquo;Like below...&raquo;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
