<section class="info">
  <div class="container">
    <ul class="info__list">
      <li class="info__item">
        <img
          class="info__img"
          src="./assets/images/blog/blog-img-1.jpg"
          alt="Workplace"
          width="584"
          height="751"
          loading="lazy"
        />
        <a href="#" class="info__title">
          How we&nbsp;perform long-running tasks using AWS services
        </a>
        <p class="info__desc">
          Webflow is&nbsp;web design tool as&nbsp;well as&nbsp;a&nbsp;hosting
          platform and CMS all in&nbsp;one. While you are probably familiar with
          all of&nbsp;these, they are usually entirely separate tools.
        </p>
      </li>
      <li class="info__item">
        <img
          class="info__img"
          src="./assets/images/blog/blog-img-2.jpg"
          alt="Workplace"
          width="584"
          height="507"
          loading="lazy"
        />
        <a href="#" class="info__title"
          >How to&nbsp;ask when doing User Research</a
        >
        <p class="info__desc">
          Bro, the story is&nbsp;that you want to&nbsp;make an&nbsp;application
          for buying and selling goods on&nbsp;the market. During user research,
          what do&nbsp;you think you will ask people?
        </p>
      </li>
      <li class="info__item">
        <img
          class="info__img"
          src="./assets/images/blog/blog-img-3.jpg"
          alt="Workplace"
          width="584"
          height="507"
          loading="lazy"
        />
        <a href="#" class="info__title">
          Layout Exploration&nbsp;&mdash; Simple exercise but big effect
        </a>
        <p class="info__desc">
          Make alternatives or&nbsp;other options for the design we&nbsp;are
          making. For example, we&nbsp;are creating a&nbsp;website design. Then
          there is&nbsp;the testimonial section.
        </p>
      </li>
      <li class="info__item">
        <img
          class="info__img"
          src="./assets/images/blog/blog-img-4.jpg"
          alt="Workplace"
          width="584"
          height="751"
          loading="lazy"
        />
        <a href="#" class="info__title">Webflow Break the Coding Barrier</a>
        <p class="info__desc">
          Webflow is&nbsp;web design tool as&nbsp;well as&nbsp;a&nbsp;hosting
          platform and CMS all in&nbsp;one. While you are probably familiar with
          all of&nbsp;these, they are usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
