<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">
      <span class="partners__title-num">890+</span>
      some big companies that we&nbsp;work with, and trust&nbsp;us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/airbnb-logo-icon.svg" alt="Airbnb logo icon" width="98" height="30" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/amazon-logo-icon.svg" alt="Amazon logo icon" width="98" height="30" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/fedex-logo-icon.svg" alt="FedEx logo icon" width="95" height="30" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/microsoft-logo-icon.svg" alt="Microsoft logo icon" width="115" height="26" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/google-logo-icon.svg" alt="Google logo icon" width="90" height="30" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/ola-logo-icon.svg" alt="OLA logo icon" width="93" height="32" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/walmart-logo-icon.svg" alt="Walmart logo icon" width="113" height="28" loading="lazy">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="./assets/icons/partners/oyo-logo-icon.svg" alt="OYO logo icon" width="81" height="30" loading="lazy">
      </li>
    </ul>
  </div>
</section>
