<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">
      <span class="partners__title-num">890+</span>
      some big companies that we&nbsp;work with, and trust&nbsp;us very much
    </h2>
    <div class="swiper slider-1">
      <div class="swiper-wrapper grid">
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
        <div class="swiper-slide">
          <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
        </div>
      </div>
    </div>
</section>
