.text {
  &-p {
    &-desc {
      @include flex-align-center;
      gap: 27px;
      font-weight: 600;
      @include adaptiv-font(32, 20);
      line-height: 131%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);

    &::before {
      content: "";
      display: inline-block;
      max-width: 76px;
      width: 100%;
      height: 1px;
      background-color: var(--neutral-color-140);
      transform: translateY(-43px);

      @include mini-desktop {
        display: none;
      }
    }
    }
    
    &-large {
      font-size: 24px;
    }

    &-medium {
      font-size: 18px;
    }

    &-default {
      font-size: 16px;
    }

    &-small {
      font-size: 14px;
    }
  }
}
