.insight {

  &__container {
    border-top: 1px solid #ededed;
    padding-top: 160px;
    padding-bottom: 90px;

    @include mobile {
      padding-top: 76px;
      padding-bottom: 60px;
    }

    @include small-mobile {
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    @include adaptiv-font(56, 30);
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__desc {
    margin-bottom: 80px;
    font-weight: 500;
    @include adaptiv-font(18, 14);
    line-height: 178%;
    color: #7e8492;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__title,
  &__desc {
    text-align: center;
  }

  &__slider {
    position: relative;

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 126px;
      left: 50%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: #fff;
      transform: translateX(-50%);
    
    @include tablet {
      display: none;
    }
  }
  }

  &__article {
    max-width: 582px;

    @include mini-desktop {
      max-width: 482px;
    }

    @include mobile {
      max-width: 360px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 16px;
      font-weight: 400;
      @include adaptiv-font(14, 11);
      line-height: 150%;
      color: #7e8492;
    }

    &-autor {
      font-style: normal;
    }

    &-title {
      font-weight: 600;
      @include adaptiv-font(32, 18);
      line-height: 150%;
      letter-spacing: -0.02em;
      color: var(--neutral-color-100);
    }
  }
}
