<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <img
        class="features__img"
        src="./assets/images/features-img.jpg"
        alt="Woman typing on laptop"
        width="585"
        height="651"
        loading="lazy"
      />
      <div class="features__stats">
        <div class="features__stats-head">
          <h4 class="features__stats-title">Statictic</h4>
          <img
            class="features__stats-icon"
            src="./assets/icons/more-icon.svg"
            width="18"
            height="19"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="features__stats-item">
          <img
            class="features__stats-img"
            src="./assets/icons/features-total-income-icon.svg"
            alt="Total income graphic"
            width="95"
            height="88"
            loading="lazy"
          />
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total income</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$7.020</span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.70759 5.70717C9.31707 6.09769 8.68391 6.09769 8.29338 5.70717L5.00049 2.41427L1.70759 5.70717C1.31707 6.09769 0.683906 6.09769 0.293382 5.70717C-0.097143 5.31664 -0.0971429 4.68348 0.293382 4.29295L4.29338 0.292954C4.68391 -0.0975701 5.31707 -0.09757 5.7076 0.292954L9.7076 4.29295C10.0981 4.68348 10.0981 5.31664 9.70759 5.70717Z"
                    fill="#50CD89"
                  />
                </svg>
                15%
              </div>
            </div>
            <p class="features__stats-item-desc">
              Your <span>Income</span> of&nbsp;this month compared to&nbsp;last
              month
            </p>
          </div>
        </div>
        <div class="features__stats-item">
          <img
            class="features__stats-img"
            src="./assets/icons/features-total-expense-icon.svg"
            alt="Total expense graphic"
            width="95"
            height="88"
            loading="lazy"
          />
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Expense</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$2.150</span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.29338 7.29302C5.68391 6.90249 6.31707 6.90249 6.7076 7.29302L10.0005 10.5859L13.2934 7.29302C13.6839 6.90249 14.3171 6.90249 14.7076 7.29302C15.0981 7.68354 15.0981 8.3167 14.7076 8.70723L10.7076 12.7072C10.3171 13.0978 9.68391 13.0978 9.29338 12.7072L5.29338 8.70723C4.90286 8.3167 4.90286 7.68354 5.29338 7.29302Z"
                    fill="#EB5757"
                  />
                </svg>
                10%
              </div>
            </div>
            <p class="features__stats-item-desc">
              Your <span>Expanse</span> of&nbsp;this month compared to&nbsp;last
              month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__content">
      <h2 class="features__title">
        Passion to&nbsp;increase company revenue up&nbsp;to&nbsp;85%
      </h2>
      <p class="features__desc">
        Automate your sales, marketing and service in&nbsp;one platform. Avoid
        date leaks and enable consistent messaging
      </p>
      <ul class="features__list">
        <li class="features__item">
          Close more deals with single - page contact managment
        </li>
        <li class="features__item">
          Enjoy one-click calling, call scripts and voicemail automation
        </li>
        <li class="features__item">
          Take stages and milestones of&nbsp;your deals to&nbsp;keep the sales
          process an&nbsp;track
        </li>
      </ul>
    </div>
  </div>
</section>
