<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title">Trending news from Coca</h2>
    <p class="insight__desc">
      we&nbsp;have some new Service to&nbsp;pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="insight__slider-btns">
        <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337" stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img class="insight__article-img" src="./assets/images/insight-img-1.jpg" alt="Woman typing on laptop" width="582" height="332" loading="lazy">
          <div class="insight__article-head">
            <div class="insight__article-date">
              Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
            </div>
            <address class="insight__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__article-title">What makes an&nbsp;authentic employee profile, and why does it&nbsp;matter ?</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img class="insight__article-img" src="./assets/images/insight-img-2.jpg" alt="Man typing on" width="586" height="332" loading="lazy">
          <div class="insight__article-head">
            <div class="insight__article-date">
              Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
            </div>
            <address class="insight__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__article-title">How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good company</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img class="insight__article-img" src="./assets/images/insight-img-1.jpg" alt="Woman typing on laptop" width="582" height="332" loading="lazy">
          <div class="insight__article-head">
            <div class="insight__article-date">
              Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
            </div>
            <address class="insight__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__article-title">What makes an&nbsp;authentic employee profile, and why does it&nbsp;matter ?</h3>
        </div>
        <div class="swiper-slide insight__article">
          <img class="insight__article-img" src="./assets/images/insight-img-2.jpg" alt="Man typing on" width="586" height="332" loading="lazy">
          <div class="insight__article-head">
            <div class="insight__article-date">
              Published in&nbsp;Insight <time datetime="2024-01-30">Jan&nbsp;30, 2024</time>
            </div>
            <address class="insight__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__article-title">How to&nbsp;build a&nbsp;Kaylen relationship with a&nbsp;good company</h3>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
