<section class="overview">
  <div class="container">
    <h2 class="overview__title">
      Coca help our client solve complex customer problems with date that does
      more.
    </h2>
    <p class="overview__desc text-p-medium">
      Our platform offers the modern enterprise full control of&nbsp;how date
      can be&nbsp;access and used with industry leading software solutions for
      identity, activation, and date collaboration
    </p>
    <ul class="overview__list">
      <li class="overview__item">
        <img
          class="overview__item-icon"
          src="./assets/icons/calendar-icon.svg"
          alt=""
          width="40"
          height="40"
        />
        <h3 class="overview__item-title">Build your date fundamental</h3>
        <p class="overview__item-desc">
          Build access to&nbsp;date, develop valuable business insights and
          drive revenue while maintaining full control over access and use
          of&nbsp;date at&nbsp;all times.
        </p>
      </li>
      <li class="overview__item">
        <img
          class="overview__item-icon"
          src="./assets/icons/todo-icon.svg"
          alt=""
          width="40"
          height="40"
        />
        <h3 class="overview__item-title">Measure more effective</h3>
        <p class="overview__item-desc">
          Effectively measure people-based campaigns with the freedom
          to&nbsp;choose from best-of breed partners to&nbsp;optimize and drive
          media innovation.
        </p>
      </li>
      <li class="overview__item">
        <img
          class="overview__item-icon"
          src="./assets/icons/list-icon.svg"
          alt=""
          width="40"
          height="40"
        />
        <h3 class="overview__item-title">Activate your date</h3>
        <p class="overview__item-desc">
          Accurately address your specific audiences at&nbsp;scale across any
          channel, platform, publisher or&nbsp;network and safely translate date
          between identity space to&nbsp;improve results.
        </p>
      </li>
      <li class="overview__item">
        <img
          class="overview__item-icon"
          src="./assets/icons/shield-icon.svg"
          alt=""
          width="40"
          height="40"
        />
        <h3 class="overview__item-title">Strengthen consumer privacy</h3>
        <p class="overview__item-desc">
          Protect your customer date with leading privacy-preserving
          technologies and advanced techniques to&nbsp;minimize date movement
          while still enabling insight generation.
        </p>
      </li>
    </ul>
  </div>
</section>
