<section class="strength">
  <div class="container strength__container">
    <ul class="strength__list">
      <li class="strength__item">
        <div class="strength__item-text">
          <span class="strength__item-num">17k</span>
          happy customers on&nbsp;worldwide
        </div>
      </li>
      <li class="strength__item">
        <div class="strength__item-text">
          <span class="strength__item-num">15+</span>
          Hours of&nbsp;work experience
        </div>
      </li>
      <li class="strength__item">
        <div class="strength__item-text">
          <span class="strength__item-num">50+</span>
          Creativity &amp;&nbsp;passionate members
        </div>
      </li>
      <li class="strength__item">
        <div class="strength__item-text">
          <span class="strength__item-num">100+</span>
          Integrations lorem ipsum integrations
        </div>
      </li>
    </ul>
    <img
      class="strength__image"
      src="./assets/images/strength-img.png"
      alt="Happy group people"
      width="1200"
      height="536"
      loading="lazy"
    />
    <div class="strength__info">
      <h2 class="strength__title">
        Lift your business to&nbsp;new heights with our digit al&nbsp;marketing
        services
      </h2>
      <p class="strength__text">
        To&nbsp;build software that gives customer facing teams in&nbsp;small
        and medium-sized businesses the ability to&nbsp;create rewarding and
        long-lasting relationships with customers
      </p>
    </div>
  </div>
</section>
